@import url(~/assets/css/reset.css);
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

:root {
    --bacgroundPrimary: #0A833D;

    --colorPrimary: #0A833D;
}

* {
    font-family: 'Plus Jakarta Sans', sans-serif;
}

#header {
    .brand-logo {
        img {
            margin-top: -150px;
        }
    }

    .sky {
        margin-top: -100px;
        width: 100%;
        overflow: hidden;
        background: rgba(0, 0, 255, 0);

        img {
            margin-left: -80px;
            background: rgba(0, 0, 255, 0);

            &:nth-child(2) {
                margin-right: -80px;
            }
        }
    }

    .muka-kambing {
        display: flex;
        justify-content: center;
        overflow: hidden;
    }

    .container-text {
        background: #fff;

        .text-wrapper {
            margin-inline: auto;
            font-family: 'Plus Jakarta Sans', sans-serif;
            background-color: #fff;
            text-align: center;
            padding-top: 75px;
            padding-bottom: 70px;
            margin-top: -20px;
            width: 346px;
            color: var(--colorPrimary);

            h1 {
                font-weight: 700;
                font-size: 24px;
                line-height: 30.24px;
                padding-inline: 10px;
                margin-bottom: 20px;
            }

            p {
                font-weight: 500;
                font-size: 14px;
                line-height: 17.64px;
                padding-inline: 25px;

                strong {
                    background: #fff;
                    font-weight: 700;
                }
            }

            h1,
            p {
                background: #fff;
            }
        }
    }
}

#promo {
    background: var(--bacgroundPrimary);
    padding-block: 40px;
    padding-inline: 20px;
    overflow: hidden;

    .hand-wrapper {
        position: relative;

        img {
            position: absolute;
            top: -170px;
            z-index: 9;

            &:first-child {
                left: -21px;
            }

            &:last-child {
                right: -21px;
            }
        }
    }

    .text-wrapper {
        color: #fff;
        width: 292px;
        margin-inline: auto;

        h2 {
            font-size: 22px;
            font-weight: 800;
            text-align: center;
            margin-bottom: 8px;
        }

        p {
            font-size: 16px;
            font-weight: 500;
            text-align: center;
            line-height: 20.16px;

            b {
                font-weight: 700;
            }
        }
    }

    .image-wrapper {
        padding-top: 30px;

        img {
            max-width: 100%;
            height: auto;
            border-radius: 20px;
        }
    }

    .cta-wrapper {
        margin-top: 30px;

        a {
            button {
                font-size: 18px;
                font-weight: 800;
                text-align: center;
                background: linear-gradient(#FFFFFF, #999999);
                padding: 18px 26px;
                width: 100%;
                border: none;
                border-radius: 20px;
                color: var(--colorPrimary);
                box-shadow: 0 10px 24px 0 rgba(0, 0, 0, 0.25);

                &:hover {
                    background: linear-gradient(#fff, #fff);
                }
            }
        }
    }
}

#why {
    padding-block: 20px;

    .headline-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
        margin-bottom: 40px;

        h2 {
            text-align: center;
            font-weight: 800;
            font-size: 22px;
            color: #fff;
        }
    }

    .container-box {
        .box-wrapper {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 15px;
            color: #fff;
            margin-bottom: 30px;

            img {
                width: 73px !important;
                height: auto;
            }

            h3 {
                font-weight: 800;
                font-size: 16px;
                text-align: center;
            }

            p {
                text-align: center;
                font-weight: 500;
                font-size: 14px;
                line-height: 18px;
                max-width: 302px;
            }
        }
    }
}

#benefit {
    background: #fff;
    border-radius: 30px;
    overflow: hidden;
    padding-bottom: 20px;
    overflow: hidden;
    position: relative;

    .container-headline {
        position: relative;
        background-image: url(~/assets/images/benefit-cooking.jpg);

        &::after {
            content: '';
            position: absolute;
            z-index: 1;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: #0000008b;
        }

        .headline-wrapper {
            padding-block: 100px;
            max-width: 346px;
            margin-inline: auto;
            position: relative;
            z-index: 99;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 20px;

            h1 {
                font-weight: 800;
                font-size: 22px;
                line-height: 28px;
                text-align: center;
                color: #fff;
                max-width: 336px;
            }

            p {
                color: #fff;
                text-align: center;
                font-weight: 500;
                font-size: 16px;
                line-height: 20px;
            }
        }

    }

    .container-benefit {
        padding-inline: 20px;
        padding-top: 30px;

        .box-benefit {
            // display: flex;
            // justify-content: center;
            // align-items: center;
            // flex-direction: column;
            margin-bottom: 35px;
            // gap: 20px;

            img {
                max-width: 100%;
                height: auto;
                border-radius: 20px;
                box-shadow: 0px 0px 14px #75757592;
            }

            h3 {
                font-weight: 800;
                font-size: 20px;
                line-height: 25px;
                color: var(--colorPrimary);
            }
        }
    }

    .cta-wrapper {
        padding-inline: 20px;

        a {
            button {
                width: 100%;
                border-radius: 20px;
                padding: 18px 26px;
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 10px;
                border: 0;
                background: var(--bacgroundPrimary);
                color: #fff;
                font-weight: 800;
                font-size: 18px;

                &:hover {
                    background: #065a29;
                }
            }
        }
    }

    img.cta-img {
        position: absolute;
        bottom: 0;
        right: 0;
    }
}

#paket {
    padding-top: 30px;

    .speaker-wrapper {
        position: relative;

        img {
            position: absolute;

            &:first-child {
                left: 0;
            }

            &:last-child {
                right: 0;
            }
        }
    }

    .text-wrapper {

        h2 {
            margin-top: 40px;
            font-weight: 800;
            font-size: 22px;
            text-align: center;
            color: #fff;
        }
    }

    .container-box {
        padding-inline: 20px;
        padding-block: 60px;

        .box-wrapper {
            max-width: 360px;
            margin-inline: auto;
            border-radius: 20px;
            overflow: hidden;
            margin-bottom: 40px;

            .box-wrapper__image {
                height: 234px;
                background: whitesmoke;
                overflow: hidden;

                img {
                    width: 100%;
                    margin-top: -100px;
                }
            }

            .box-wrapper__text {
                padding: 22px;
                background: #fff;

                h2 {
                    font-weight: 800;
                    font-size: 22px;
                    color: var(--colorPrimary);
                    margin-bottom: 15px;
                }

                .list-wrapper {
                    display: flex;
                    flex-wrap: wrap;
                    gap: 15px;
                    margin-bottom: 15px;

                    .list-wrapper__text {
                        display: flex;
                        align-items: center;
                        gap: 3px;

                        p {
                            font-weight: 500;
                            font-size: 18px;
                        }
                    }
                }

                a {
                    text-decoration: none;

                    button {
                        width: 100%;
                        border-radius: 20px;
                        padding: 18px 26px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        gap: 10px;
                        border: 2px solid var(--bacgroundPrimary);
                        background: #fff;
                        color: var(--colorPrimary);
                        font-weight: 800;
                        font-size: 18px;

                        // &:hover {
                        //     background: #065a29;
                        // }
                    }
                }
            }
        }
    }

    .cashback-wrapper {
        h2 {
            text-align: center;
            color: #fff;
            font-weight: 800;
            font-size: 77px;
            margin-bottom: 25px;
        }

        .row {
            margin-inline: auto;
            max-width: 350px;
            font-weight: 800;
            font-size: 22px;
            margin-bottom: 20px;

            .col-8 {
                padding: 0 !important;

                h3 {
                    padding: 10px 20px;
                    border-radius: 10px;
                    background: #fff;
                    text-align: center;
                    color: var(--colorPrimary);
                }
            }

            .col-4 {
                padding: 0 !important;
                border-radius: 10px;
                background: white;

                h3 {
                    text-align: center;
                    padding: 10px 20px;
                    background-clip: text;
                    -webkit-background-clip: text;
                    color: transparent;
                    -webkit-text-fill-color: transparent;
                    background-image: linear-gradient(to right, #E2DE0A, #0A833D);
                }

            }
        }

        p {
            font-weight: 500;
            font-size: 16px;
            text-align: center;
            color: #fff;
        }
    }

    .sky {
        margin-top: -100px;
        width: 100%;
        overflow: hidden;
        background: rgba(0, 0, 255, 0);

        img {
            margin-left: -80px;
            background: rgba(0, 0, 255, 0);

            &:nth-child(2) {
                margin-right: -80px;
            }
        }
    }

    .muka-kambing {
        display: flex;
        justify-content: center;
        overflow: hidden;
    }
}

#price {
    padding-top: 30px;
    padding-bottom: 30px;
    background: #fff;
    margin-top: -20px;
    position: relative;
    z-index: 3;

    .text-wrapper {
        h2 {
            text-align: center;
            font-weight: 800;
            font-size: 22px;
            color: var(--colorPrimary);
        }
    }

    .image-wrapper {
        padding-top: 40px;
        padding-inline: 25px;

        img {
            max-width: 100%;
            height: auto;
            border-radius: 20px;
            margin-bottom: 30px;
            box-shadow: 0 0 20px #54545453;
        }
    }

    .cta-wrapper {
        padding-inline: 20px;

        a {
            button {
                width: 100%;
                border-radius: 20px;
                padding: 18px 26px;
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 10px;
                border: 0;
                background: var(--bacgroundPrimary);
                color: #fff;
                font-weight: 800;
                font-size: 18px;

                &:hover {
                    background: #065a29;
                }
            }
        }
    }
}

footer {
    padding-bottom: 20px;

    .sky {
        margin-top: -20px;
        width: 100%;
        overflow: hidden;
        background: rgba(0, 0, 255, 0);

        img {
            transform: rotate(180deg);
            margin-left: -100px;
            background: rgba(0, 0, 255, 0);

            &:nth-child(2) {
                margin-right: -100px;
            }
        }
    }

    .text-wrapper {
        margin-top: -20px;
        margin-bottom: 30px;

        h2 {
            font-weight: 800;
            font-size: 22px;
            text-align: center;
            color: #fff;
        }
    }

    .image-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .paragraph-wrapper {
        max-width: 346px;
        margin-inline: auto;
        color: #fff;
        text-align: center;
        margin-block: 30px;

        h4 {
            font-weight: 800;
            font-size: 16px;
            line-height: 20px;
            margin-bottom: 20px;
        }

        p {
            font-weight: 500;
            font-size: 16px;
            line-height: 20px;
        }
    }

    .cta-wrapper {
        padding-inline: 20px;

        a {
            text-decoration: none;

            button {
                width: 100%;
                border-radius: 20px;
                padding: 18px 26px;
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 10px;
                border: none;
                background: #fff;
                color: var(--colorPrimary);
                font-weight: 800;
                font-size: 18px;
                // &:hover {
                //     background: #065a29;
                // }
            }
        }
    }
}