@import url(~/assets/css/reset.css);
@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");
:root {
  --bacgroundPrimary: #0A833D;
  --colorPrimary: #0A833D;
}

* {
  font-family: "Plus Jakarta Sans", sans-serif;
}

#header .brand-logo img {
  margin-top: -150px;
}
#header .sky {
  margin-top: -100px;
  width: 100%;
  overflow: hidden;
  background: rgba(0, 0, 255, 0);
}
#header .sky img {
  margin-left: -80px;
  background: rgba(0, 0, 255, 0);
}
#header .sky img:nth-child(2) {
  margin-right: -80px;
}
#header .muka-kambing {
  display: flex;
  justify-content: center;
  overflow: hidden;
}
#header .container-text {
  background: #fff;
}
#header .container-text .text-wrapper {
  margin-inline: auto;
  font-family: "Plus Jakarta Sans", sans-serif;
  background-color: #fff;
  text-align: center;
  padding-top: 75px;
  padding-bottom: 70px;
  margin-top: -20px;
  width: 346px;
  color: var(--colorPrimary);
}
#header .container-text .text-wrapper h1 {
  font-weight: 700;
  font-size: 24px;
  line-height: 30.24px;
  padding-inline: 10px;
  margin-bottom: 20px;
}
#header .container-text .text-wrapper p {
  font-weight: 500;
  font-size: 14px;
  line-height: 17.64px;
  padding-inline: 25px;
}
#header .container-text .text-wrapper p strong {
  background: #fff;
  font-weight: 700;
}
#header .container-text .text-wrapper h1,
#header .container-text .text-wrapper p {
  background: #fff;
}

#promo {
  background: var(--bacgroundPrimary);
  padding-block: 40px;
  padding-inline: 20px;
  overflow: hidden;
}
#promo .hand-wrapper {
  position: relative;
}
#promo .hand-wrapper img {
  position: absolute;
  top: -170px;
  z-index: 9;
}
#promo .hand-wrapper img:first-child {
  left: -21px;
}
#promo .hand-wrapper img:last-child {
  right: -21px;
}
#promo .text-wrapper {
  color: #fff;
  width: 292px;
  margin-inline: auto;
}
#promo .text-wrapper h2 {
  font-size: 22px;
  font-weight: 800;
  text-align: center;
  margin-bottom: 8px;
}
#promo .text-wrapper p {
  font-size: 16px;
  font-weight: 500;
  text-align: center;
  line-height: 20.16px;
}
#promo .text-wrapper p b {
  font-weight: 700;
}
#promo .image-wrapper {
  padding-top: 30px;
}
#promo .image-wrapper img {
  max-width: 100%;
  height: auto;
  border-radius: 20px;
}
#promo .cta-wrapper {
  margin-top: 30px;
}
#promo .cta-wrapper a button {
  font-size: 18px;
  font-weight: 800;
  text-align: center;
  background: linear-gradient(#FFFFFF, #999999);
  padding: 18px 26px;
  width: 100%;
  border: none;
  border-radius: 20px;
  color: var(--colorPrimary);
  box-shadow: 0 10px 24px 0 rgba(0, 0, 0, 0.25);
}
#promo .cta-wrapper a button:hover {
  background: linear-gradient(#fff, #fff);
}

#why {
  padding-block: 20px;
}
#why .headline-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-bottom: 40px;
}
#why .headline-wrapper h2 {
  text-align: center;
  font-weight: 800;
  font-size: 22px;
  color: #fff;
}
#why .container-box .box-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
  color: #fff;
  margin-bottom: 30px;
}
#why .container-box .box-wrapper img {
  width: 73px !important;
  height: auto;
}
#why .container-box .box-wrapper h3 {
  font-weight: 800;
  font-size: 16px;
  text-align: center;
}
#why .container-box .box-wrapper p {
  text-align: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  max-width: 302px;
}

#benefit {
  background: #fff;
  border-radius: 30px;
  overflow: hidden;
  padding-bottom: 20px;
  overflow: hidden;
  position: relative;
}
#benefit .container-headline {
  position: relative;
  background-image: url(~/assets/images/benefit-cooking.jpg);
}
#benefit .container-headline::after {
  content: "";
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5450980392);
}
#benefit .container-headline .headline-wrapper {
  padding-block: 100px;
  max-width: 346px;
  margin-inline: auto;
  position: relative;
  z-index: 99;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
#benefit .container-headline .headline-wrapper h1 {
  font-weight: 800;
  font-size: 22px;
  line-height: 28px;
  text-align: center;
  color: #fff;
  max-width: 336px;
}
#benefit .container-headline .headline-wrapper p {
  color: #fff;
  text-align: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}
#benefit .container-benefit {
  padding-inline: 20px;
  padding-top: 30px;
}
#benefit .container-benefit .box-benefit {
  margin-bottom: 35px;
}
#benefit .container-benefit .box-benefit img {
  max-width: 100%;
  height: auto;
  border-radius: 20px;
  box-shadow: 0px 0px 14px rgba(117, 117, 117, 0.5725490196);
}
#benefit .container-benefit .box-benefit h3 {
  font-weight: 800;
  font-size: 20px;
  line-height: 25px;
  color: var(--colorPrimary);
}
#benefit .cta-wrapper {
  padding-inline: 20px;
}
#benefit .cta-wrapper a button {
  width: 100%;
  border-radius: 20px;
  padding: 18px 26px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border: 0;
  background: var(--bacgroundPrimary);
  color: #fff;
  font-weight: 800;
  font-size: 18px;
}
#benefit .cta-wrapper a button:hover {
  background: #065a29;
}
#benefit img.cta-img {
  position: absolute;
  bottom: 0;
  right: 0;
}

#paket {
  padding-top: 30px;
}
#paket .speaker-wrapper {
  position: relative;
}
#paket .speaker-wrapper img {
  position: absolute;
}
#paket .speaker-wrapper img:first-child {
  left: 0;
}
#paket .speaker-wrapper img:last-child {
  right: 0;
}
#paket .text-wrapper h2 {
  margin-top: 40px;
  font-weight: 800;
  font-size: 22px;
  text-align: center;
  color: #fff;
}
#paket .container-box {
  padding-inline: 20px;
  padding-block: 60px;
}
#paket .container-box .box-wrapper {
  max-width: 360px;
  margin-inline: auto;
  border-radius: 20px;
  overflow: hidden;
  margin-bottom: 40px;
}
#paket .container-box .box-wrapper .box-wrapper__image {
  height: 234px;
  background: whitesmoke;
  overflow: hidden;
}
#paket .container-box .box-wrapper .box-wrapper__image img {
  width: 100%;
  margin-top: -100px;
}
#paket .container-box .box-wrapper .box-wrapper__text {
  padding: 22px;
  background: #fff;
}
#paket .container-box .box-wrapper .box-wrapper__text h2 {
  font-weight: 800;
  font-size: 22px;
  color: var(--colorPrimary);
  margin-bottom: 15px;
}
#paket .container-box .box-wrapper .box-wrapper__text .list-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  margin-bottom: 15px;
}
#paket .container-box .box-wrapper .box-wrapper__text .list-wrapper .list-wrapper__text {
  display: flex;
  align-items: center;
  gap: 3px;
}
#paket .container-box .box-wrapper .box-wrapper__text .list-wrapper .list-wrapper__text p {
  font-weight: 500;
  font-size: 18px;
}
#paket .container-box .box-wrapper .box-wrapper__text a {
  text-decoration: none;
}
#paket .container-box .box-wrapper .box-wrapper__text a button {
  width: 100%;
  border-radius: 20px;
  padding: 18px 26px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border: 2px solid var(--bacgroundPrimary);
  background: #fff;
  color: var(--colorPrimary);
  font-weight: 800;
  font-size: 18px;
}
#paket .cashback-wrapper h2 {
  text-align: center;
  color: #fff;
  font-weight: 800;
  font-size: 77px;
  margin-bottom: 25px;
}
#paket .cashback-wrapper .row {
  margin-inline: auto;
  max-width: 350px;
  font-weight: 800;
  font-size: 22px;
  margin-bottom: 20px;
}
#paket .cashback-wrapper .row .col-8 {
  padding: 0 !important;
}
#paket .cashback-wrapper .row .col-8 h3 {
  padding: 10px 20px;
  border-radius: 10px;
  background: #fff;
  text-align: center;
  color: var(--colorPrimary);
}
#paket .cashback-wrapper .row .col-4 {
  padding: 0 !important;
  border-radius: 10px;
  background: white;
}
#paket .cashback-wrapper .row .col-4 h3 {
  text-align: center;
  padding: 10px 20px;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
  background-image: linear-gradient(to right, #E2DE0A, #0A833D);
}
#paket .cashback-wrapper p {
  font-weight: 500;
  font-size: 16px;
  text-align: center;
  color: #fff;
}
#paket .sky {
  margin-top: -100px;
  width: 100%;
  overflow: hidden;
  background: rgba(0, 0, 255, 0);
}
#paket .sky img {
  margin-left: -80px;
  background: rgba(0, 0, 255, 0);
}
#paket .sky img:nth-child(2) {
  margin-right: -80px;
}
#paket .muka-kambing {
  display: flex;
  justify-content: center;
  overflow: hidden;
}

#price {
  padding-top: 30px;
  padding-bottom: 30px;
  background: #fff;
  margin-top: -20px;
  position: relative;
  z-index: 3;
}
#price .text-wrapper h2 {
  text-align: center;
  font-weight: 800;
  font-size: 22px;
  color: var(--colorPrimary);
}
#price .image-wrapper {
  padding-top: 40px;
  padding-inline: 25px;
}
#price .image-wrapper img {
  max-width: 100%;
  height: auto;
  border-radius: 20px;
  margin-bottom: 30px;
  box-shadow: 0 0 20px rgba(84, 84, 84, 0.3254901961);
}
#price .cta-wrapper {
  padding-inline: 20px;
}
#price .cta-wrapper a button {
  width: 100%;
  border-radius: 20px;
  padding: 18px 26px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border: 0;
  background: var(--bacgroundPrimary);
  color: #fff;
  font-weight: 800;
  font-size: 18px;
}
#price .cta-wrapper a button:hover {
  background: #065a29;
}

footer {
  padding-bottom: 20px;
}
footer .sky {
  margin-top: -20px;
  width: 100%;
  overflow: hidden;
  background: rgba(0, 0, 255, 0);
}
footer .sky img {
  transform: rotate(180deg);
  margin-left: -100px;
  background: rgba(0, 0, 255, 0);
}
footer .sky img:nth-child(2) {
  margin-right: -100px;
}
footer .text-wrapper {
  margin-top: -20px;
  margin-bottom: 30px;
}
footer .text-wrapper h2 {
  font-weight: 800;
  font-size: 22px;
  text-align: center;
  color: #fff;
}
footer .image-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}
footer .paragraph-wrapper {
  max-width: 346px;
  margin-inline: auto;
  color: #fff;
  text-align: center;
  margin-block: 30px;
}
footer .paragraph-wrapper h4 {
  font-weight: 800;
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 20px;
}
footer .paragraph-wrapper p {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}
footer .cta-wrapper {
  padding-inline: 20px;
}
footer .cta-wrapper a {
  text-decoration: none;
}
footer .cta-wrapper a button {
  width: 100%;
  border-radius: 20px;
  padding: 18px 26px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border: none;
  background: #fff;
  color: var(--colorPrimary);
  font-weight: 800;
  font-size: 18px;
}/*# sourceMappingURL=style.css.map */