:root {
  --w-heading: 700;
  --w-subheading: 400;
  --w-btn: 600;
  --s-heading: 50px;
  --s-subheading: 24px;
  --s-btn: 20px;
  --p-btn: 16px 20px;
  --bg-primaryColor: #65bd06;
  --bg-secondaryColor: #fff;
  --primaryColor: #fff;
  --secondaryColor: #65bd06;
  --thirdColor: #ffbf1e;
  --fourthColor: #000;
  --bg-btnPrimary: linear-gradient(45deg, #b1f864, #65bd06, #5db200);
  --bg-btnSecondary: #ffbf1e;
  --bg-btnPrimaryHover: linear-gradient(45deg, #5db200, #65bd06, #b1f864);
  --bg-hover-btnSecondary: #65bd06;
}

nav .container .link-container ul {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
  list-style: none;
}
nav .container .link-container ul li a {
  text-decoration: none;
}
nav .container .link-container ul li a:hover {
  text-decoration: none;
  color: var(--thirdColor) !important;
}
nav .container .link-container ul li a.btn {
  background-color: var(--bg-btnSecondary);
  padding: 14px 24px;
}
nav .container .link-container ul li a.btn:hover {
  background-color: var(--bg-hover-btnSecondary);
  transition: all 0.3s ease-in-out;
  color: #000 !important;
  padding: 14px 24px;
}

#home .home .container {
  margin-top: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#home .home .container h1 {
  color: var(--primaryColor);
  font-weight: var(--w-heading);
  font-size: var(--s-heading);
  letter-spacing: 2px;
  margin-bottom: 10px;
}
#home .home .container p {
  color: var(--primaryColor);
  font-weight: var(--w-subheading) !important;
  font-size: var(--s-subheading);
  margin-bottom: 50px;
}
#home .home .container .cta a {
  color: var(--primaryColor);
  font-size: var(--s-btn);
  letter-spacing: 1px;
  text-decoration: none;
}
#home .home .container .cta a:hover {
  color: var(--thirdColor);
}
#home .home .container .cta a.btn {
  background: var(--bg-btnPrimary);
  padding: var(--p-btn);
  border-radius: 30px;
  border: none;
}
#home .home .container .cta a.btn:hover {
  background: var(--bg-btnPrimaryHover);
  transition: all 3s ease-in-out;
}
#home .cta-section {
  display: flex;
}
#home .cta-section .container {
  display: flex;
  justify-content: center;
  align-items: center;
}
#home .cta-section .container h1 {
  color: var(--fourthColor);
  font-weight: var(--w-heading);
  font-size: var(--s-heading);
  letter-spacing: 2px;
  margin-bottom: 10px;
}
#home .cta-section .container p {
  color: var(--fourthColor);
  font-weight: var(--w-subheading) !important;
  font-size: var(--s-subheading);
  margin-bottom: 50px;
}
#home .cta-section .container .cta a {
  color: var(--primaryColor);
  font-size: var(--s-btn);
  letter-spacing: 1px;
  text-decoration: none;
}
#home .cta-section .container .cta a.btn {
  background: var(--bg-btnPrimary);
  padding: var(--p-btn);
  border-radius: 30px;
  border: none;
}
#home .cta-section .container .cta a.btn:hover {
  background: var(--bg-btnPrimaryHover);
  transition: all 3s ease-in-out;
}
#home .service {
  display: flex;
  background-color: var(--bg-primaryColor);
}
#home .service .container h1 {
  color: var(--primaryColor);
  font-weight: var(--w-heading);
  font-size: var(--s-heading);
  letter-spacing: 2px;
  margin-bottom: 10px;
}
#home .service .container p {
  color: var(--primaryColor);
  font-weight: var(--w-subheading) !important;
  font-size: var(--s-subheading);
  margin-bottom: 50px;
}
#home .service .container .container-menu {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}
#home .service .container .container-menu .box-menu {
  background: var(--bg-secondaryColor);
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 0 24px rgba(0, 0, 0, 0.2509803922);
}
#home .service .container .container-menu .box-menu .image-wrapper {
  height: 346px;
  overflow: hidden;
  position: relative;
}
#home .service .container .container-menu .box-menu .image-wrapper img {
  position: absolute;
  max-width: 100%;
  height: auto;
  top: 0;
  left: 0;
  transform: translateY(-20%);
}
#home .service .container .container-menu .box-menu .text-wrapper {
  padding: 20px 20px 33px 20px;
}
#home .service .container .container-menu .box-menu .text-wrapper .text_head-wrapper {
  margin-bottom: 7px;
}
#home .service .container .container-menu .box-menu .text-wrapper .text_head-wrapper h3 {
  font-weight: 700;
  font-size: 22px;
}
#home .service .container .container-menu .box-menu .text-wrapper .text_head-wrapper p {
  padding: 10px;
  border-radius: 10px;
  background-color: #fff4e5;
  color: #ff9a16;
  font-weight: 700;
  font-size: 14px;
}
#home .service .container .container-menu .box-menu .text-wrapper .text_menu-wrapper {
  margin-bottom: 20px;
}
#home .service .container .container-menu .box-menu .text-wrapper .text_menu-wrapper p {
  font-weight: 400;
  font-size: 18px;
  text-align: justify;
  color: #a0a0a0;
}
#home .service .container .container-menu .box-menu .text-wrapper .cta-wrapper a {
  padding: 13px 10px;
  background-color: #65bd06;
  border-radius: 10px;
  font-weight: 700;
  font-size: 14px;
  text-decoration: none;
  color: #fff;
}
#home .service .container .cta a {
  color: var(--primaryColor);
  font-size: var(--s-btn);
  letter-spacing: 1px;
  text-decoration: none;
}
#home .service .container .cta a.btn {
  background: var(--bg-btnPrimary);
  padding: var(--p-btn);
  border-radius: 30px;
}/*# sourceMappingURL=main.css.map */