:root {
  --w-heading: 700;
  --w-subheading: 400;
  --w-btn: 600;
  --s-heading: 50px;
  --s-subheading: 24px;
  --s-btn: 20px;
  --p-btn: 16px 20px;
  --bg-primaryColor: #65bd06;
  --bg-secondaryColor: #fff;
  --primaryColor: #fff;
  --secondaryColor: #65bd06;
  --thirdColor: #ffbf1e;
  --fourthColor: #000;
  --bg-btnPrimary: linear-gradient(45deg, #b1f864, #65bd06, #5db200);
  --bg-btnSecondary: #ffbf1e;
  --bg-btnPrimaryHover: linear-gradient(45deg, #5db200, #65bd06, #b1f864);
  --bg-hover-btnSecondary: #65bd06;
}

@media (max-width: 567px) {
  :root {
    --s-heading: 24px !important;
    --s-subheading: 16px !important;
    --s-btn: 14px;
    --p-btn: 10px 15px;
  }
}
nav .container button {
  border: none;
  background-color: transparent;
  padding: 2px;
  display: none;
}
@media (max-width: 768px) {
  nav .container button {
    display: block;
  }
}
nav .container .link-container {
  display: block;
}
@media (max-width: 768px) {
  nav .container .link-container {
    display: none;
  }
}
nav .container .link-container ul {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
  list-style: none;
}
@media (max-width: 567px) {
  nav .container .link-container ul {
    flex-direction: column;
  }
}
nav .container .link-container ul li a {
  text-decoration: none;
}
nav .container .link-container ul li a.nuxt-link-exact-active {
  color: var(--thirdColor) !important;
}
nav .container .link-container ul li a:hover {
  text-decoration: none;
  color: var(--thirdColor) !important;
}
nav .container .link-container ul li a.btn {
  background-color: var(--bg-btnSecondary);
  padding: 14px 24px;
}
nav .container .link-container ul li a.btn:hover {
  background-color: var(--bg-hover-btnSecondary);
  transition: all 0.3s ease-in-out;
  color: #000 !important;
  padding: 14px 24px;
}
nav .container .link-phone-container {
  display: none;
  position: absolute;
  top: 82px;
  left: 0;
  right: 0;
}
@media (max-width: 768px) {
  nav .container .link-phone-container {
    display: block;
  }
}
nav .container .link-phone-container ul {
  padding-block: 25px;
  padding-inline: 0 !important;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 24px;
  list-style: none;
  margin: 0 !important;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
}
@media (max-width: 567px) {
  nav .container .link-phone-container ul {
    flex-direction: column;
  }
}
nav .container .link-phone-container ul li a {
  text-decoration: none;
}
nav .container .link-phone-container ul li a.nuxt-link-exact-active {
  color: var(--thirdColor) !important;
}
nav .container .link-phone-container ul li a:hover {
  text-decoration: none;
  color: var(--thirdColor) !important;
}
nav .container .link-phone-container ul li a.btn {
  background-color: var(--bg-btnSecondary);
  padding: 14px 24px;
}
nav .container .link-phone-container ul li a.btn:hover {
  background-color: var(--bg-hover-btnSecondary);
  transition: all 0.3s ease-in-out;
  color: #000 !important;
  padding: 14px 24px;
}

footer {
  padding-block: 70px 36px;
  background: linear-gradient(#2deb05, #1a8803, #072201);
}
footer .container .container-footer {
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  margin-bottom: 70px;
}
footer .container .container-footer .brand img {
  height: 80px;
}
footer .container .container-footer .brand h5 {
  font-weight: 700;
  font-size: var(--s-subheading);
  color: var(--primaryColor);
  text-align: center;
  letter-spacing: 1px;
}
footer .container .container-footer .brand p {
  font-weight: 400;
  font-size: 16px;
  color: var(--primaryColor);
  text-align: center;
}
footer .container .container-footer .brand a {
  padding: 14px 24px;
  background-color: var(--bg-btnSecondary);
  color: #fff;
  text-decoration: none;
  border-radius: 30px;
  transition: background-color 0.3s ease-in-out;
}
footer .container .container-footer .brand a:hover {
  transition: background-color 0.3s ease-in-out;
  background-color: #ff9a16;
}
footer .container .container-footer .menu {
  display: flex;
  justify-content: center;
}
footer .container .container-footer .menu .menu-wrapper h6 {
  font-weight: 700;
  font-size: 20px;
  color: var(--primaryColor);
  margin-bottom: 25px;
}
footer .container .container-footer .menu .menu-wrapper ul {
  list-style: none;
  padding: 0 !important;
}
footer .container .container-footer .menu .menu-wrapper ul li a {
  padding-right: 70px;
  position: relative;
  display: flex;
  align-items: center;
  gap: 10px;
  padding-left: 0;
  text-decoration: none;
  color: var(--primaryColor);
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 24px;
}
footer .container .container-footer .menu .menu-wrapper ul li a::after {
  content: "";
  position: absolute;
  bottom: -12px;
  width: 100%;
  height: 0.5px;
  background-color: #fff;
}
footer .container .container-footer .menu .menu-wrapper ul li a i {
  color: var(--primaryColor);
  font-size: 18px;
  font-weight: 400;
  margin-left: 8px;
}
footer .container .container-footer .cta h6 {
  font-weight: 700;
  font-size: 20px;
  color: var(--primaryColor);
  margin-bottom: 15px;
}
footer .container .container-footer .cta .sosmed-wrapper {
  margin-bottom: 20px;
}
footer .container .container-footer .cta .sosmed-wrapper a {
  text-decoration: none;
  font-size: 20px;
  color: var(--primaryColor);
}
footer .container .container-footer .cta .avatar {
  display: flex;
  align-items: center;
}
footer .container .container-footer .cta .avatar .avatar-wrapper {
  position: relative;
  z-index: 1;
  height: 120px;
  width: 120px;
  background: #1a8803;
  border: 6px solid #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}
footer .container .container-footer .cta .avatar .avatar-wrapper img {
  width: 104px;
}
footer .container .container-footer .cta .avatar .cta-wrapper {
  position: relative;
  z-index: 0;
  margin-left: -40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(--bg-primaryColor);
  height: -moz-fit-content;
  height: fit-content;
  padding: 11px 35px 11px 49px;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
}
footer .container .container-footer .cta .avatar .cta-wrapper .cta-wrapper_headline {
  display: flex;
  align-items: center;
  gap: 10px;
}
footer .container .container-footer .cta .avatar .cta-wrapper .cta-wrapper_headline p {
  font-size: 14px;
  font-weight: 400;
  color: var(--primaryColor);
  margin-bottom: 0 !important;
}
footer .container .container-footer .cta .avatar .cta-wrapper .cta-wrapper_headline span {
  font-weight: 400;
  color: var(--primaryColor);
  margin-bottom: 0 !important;
  font-size: 12px;
  padding: 4px 10px;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.3019607843);
}
footer .container .container-footer .cta .avatar .cta-wrapper h5 {
  font-weight: 700;
  font-size: 18px;
  color: var(--primaryColor);
}
footer .container .container-footer .cta .avatar .cta-wrapper h5 span {
  display: block;
}
footer .container .cp {
  display: flex;
  justify-content: center;
}
footer .container .cp span {
  color: var(--primaryColor);
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 1px;
}

header .header {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: calc(60vh + 73px + 73px);
  padding-block: 73px;
  display: flex;
  align-items: center;
}
header .header .container .text-wrapper h1 {
  color: var(--primaryColor);
  font-weight: var(--w-heading);
  font-size: var(--s-heading);
  letter-spacing: 2px;
  margin-bottom: 10px;
}
header .header .container .text-wrapper p {
  color: var(--primaryColor);
  font-weight: var(--w-subheading) !important;
  font-size: var(--s-subheading);
  margin-bottom: 0px;
}

#home .home {
  display: flex;
  align-items: center;
  min-height: 90vh;
}
@media (max-width: 567px) {
  #home .home {
    min-height: 70vh;
  }
}
#home .home .container .text-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#home .home .container .text-wrapper h1 {
  color: var(--primaryColor);
  font-weight: var(--w-heading);
  font-size: var(--s-heading);
  letter-spacing: 2px;
  margin-bottom: 10px;
}
#home .home .container .text-wrapper p {
  color: var(--primaryColor);
  font-weight: var(--w-subheading) !important;
  font-size: var(--s-subheading);
  margin-bottom: 50px;
}
#home .home .container .text-wrapper .cta a {
  color: var(--primaryColor);
  font-size: var(--s-btn);
  letter-spacing: 1px;
  text-decoration: none;
}
#home .home .container .text-wrapper .cta a:hover {
  color: var(--thirdColor);
}
#home .home .container .text-wrapper .cta a.btn {
  background: var(--bg-btnPrimary);
  color: var(--primaryColor);
  padding: var(--p-btn);
  border-radius: 30px;
  border: none;
}
#home .home .container .text-wrapper .cta a.btn:hover {
  color: var(--primaryColor);
  background: var(--bg-btnPrimaryHover);
  transition: all 3s ease-in-out;
}
#home .cta-section {
  display: flex;
}
#home .cta-section .container {
  display: flex;
  justify-content: center;
  align-items: center;
}
#home .cta-section .container h1 {
  color: var(--fourthColor);
  font-weight: var(--w-heading);
  font-size: var(--s-heading);
  letter-spacing: 2px;
  margin-bottom: 10px;
}
#home .cta-section .container p {
  color: var(--fourthColor);
  font-weight: var(--w-subheading) !important;
  font-size: var(--s-subheading);
  margin-bottom: 50px;
}
#home .cta-section .container .cta a {
  color: var(--primaryColor);
  font-size: var(--s-btn);
  letter-spacing: 1px;
  text-decoration: none;
}
#home .cta-section .container .cta a.btn {
  background: var(--bg-btnPrimary);
  padding: var(--p-btn);
  border-radius: 30px;
  border: none;
}
#home .cta-section .container .cta a.btn:hover {
  background: var(--bg-btnPrimaryHover);
  transition: all 3s ease-in-out;
}
#home .service {
  display: flex;
  background-color: var(--bg-primaryColor);
}
#home .service .container h1 {
  color: var(--primaryColor);
  font-weight: var(--w-heading);
  font-size: var(--s-heading);
  letter-spacing: 2px;
  margin-bottom: 10px;
}
#home .service .container p {
  color: var(--primaryColor);
  font-weight: var(--w-subheading) !important;
  font-size: var(--s-subheading);
  margin-bottom: 50px;
}
#home .service .container .container-menu {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 30px;
}
#home .service .container .container-menu .box-menu {
  background: var(--bg-secondaryColor);
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 0 24px rgba(0, 0, 0, 0.2509803922);
}
#home .service .container .container-menu .box-menu .image-wrapper {
  height: 346px;
  overflow: hidden;
  position: relative;
}
#home .service .container .container-menu .box-menu .image-wrapper img {
  position: absolute;
  max-width: 100%;
  height: auto;
  top: -50px;
  left: 0;
  transition: all 0.3s ease-in-out;
}
#home .service .container .container-menu .box-menu .image-wrapper img:hover {
  transform: scale(1.15);
  transition: all 0.3s ease-in-out;
}
#home .service .container .container-menu .box-menu .text-wrapper {
  padding: 20px 20px 33px 20px;
}
#home .service .container .container-menu .box-menu .text-wrapper .text_head-wrapper {
  margin-bottom: 7px;
}
#home .service .container .container-menu .box-menu .text-wrapper .text_head-wrapper h3 {
  font-weight: 700;
  font-size: 22px;
}
#home .service .container .container-menu .box-menu .text-wrapper .text_head-wrapper p {
  padding: 10px;
  border-radius: 10px;
  background-color: #fff4e5;
  color: #ff9a16;
  font-weight: 700;
  font-size: 14px;
}
#home .service .container .container-menu .box-menu .text-wrapper .text_menu-wrapper {
  margin-bottom: 20px;
}
#home .service .container .container-menu .box-menu .text-wrapper .text_menu-wrapper p {
  font-weight: 400;
  font-size: 18px;
  text-align: justify;
  color: #a0a0a0;
}
#home .service .container .container-menu .box-menu .text-wrapper .cta-wrapper a {
  padding: 13px 10px;
  background-color: #65bd06;
  border-radius: 10px;
  font-weight: 700;
  font-size: 14px;
  text-decoration: none;
  color: #fff;
}
#home .service .container .cta a {
  color: var(--primaryColor);
  font-size: var(--s-btn);
  padding: 20px 24px;
  border: 3px solid #fff;
  border-radius: 15px;
  letter-spacing: 1px;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}
#home .service .container .cta a:hover {
  border: 3px solid var(--bg-btnSecondary);
  color: var(--fourthColor);
  background: var(--bg-btnSecondary);
  transition: all 0.3s ease-in-out;
}
#home .galery {
  background-color: var(--bg-primaryColor);
  padding-block: 90px;
}
#home .galery .container .headline-wrapper {
  margin-bottom: 50px;
}
#home .galery .container .headline-wrapper h1 {
  color: var(--primaryColor);
  font-weight: var(--w-heading);
  font-size: var(--s-heading);
  letter-spacing: 2px;
  margin-bottom: 10px;
}
#home .galery .container .image-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}
#home .galery .container .image-wrapper .image-box {
  height: 562px;
  overflow: hidden;
  position: relative;
}
#home .galery .container .image-wrapper .image-box img {
  position: absolute;
  width: auto;
  height: 100%;
  top: 0;
  left: 0;
  transition: all 0.3s ease-in-out;
  filter: brightness(0.5);
}
#home .galery .container .image-wrapper .image-box img:hover {
  transform: scale(1.15);
  transition: all 0.3s ease-in-out;
}
#home .galery .container .image-wrapper .image-box p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--primaryColor);
  font-weight: 700;
  font-size: var(--s-subheading);
  line-height: 27.4px;
  letter-spacing: 1px;
  text-align: center;
  width: 70%;
}
#home .galery .container .cta a {
  color: var(--primaryColor);
  font-size: var(--s-btn);
  padding: 20px 24px;
  border: 3px solid #fff;
  border-radius: 15px;
  letter-spacing: 1px;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}
#home .galery .container .cta a:hover {
  border: 3px solid var(--bg-btnSecondary);
  color: var(--fourthColor);
  background: var(--bg-btnSecondary);
  transition: all 0.3s ease-in-out;
}
#home .testimoni {
  padding-block: 90px;
}
#home .testimoni .container .headline-wrapper {
  margin-bottom: 50px;
}
#home .testimoni .container .headline-wrapper h1 {
  color: var(--fourthColor);
  font-weight: var(--w-heading);
  font-size: var(--s-heading);
  letter-spacing: 2px;
  margin-bottom: 10px;
}
#home .testimoni .cust-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 30px;
}
#home .testimoni .cust-wrapper .cust-box {
  border-radius: 20px;
  border: 1px solid #dfdfdf;
  padding: 30px;
  height: -moz-fit-content;
  height: fit-content;
}
#home .testimoni .cust-wrapper .cust-box .text-wrapper h4 {
  font-weight: 700;
  font-size: var(--s-subheading);
}
#home .testimoni .cust-wrapper .cust-box .text-wrapper p {
  font-weight: 400;
  font-size: 16px;
}
#home .testimoni .cust-wrapper .cust-box .text-wrapper .star-wrapper {
  display: flex;
  justify-content: center;
}
#home .testimoni .cust-wrapper .cust-box .text-wrapper .star-wrapper span i {
  color: #ffbf1e;
  font-size: 24px;
}
#home .testimoni .cust-wrapper .cust-box .text-wrapper .image-wrapper {
  overflow: hidden;
}
#home .testimoni .cust-wrapper .cust-box .text-wrapper .image-wrapper img {
  width: 100%;
  height: auto;
}
#home .testimoni .cta a {
  background: var(--bg-btnPrimary);
  color: var(--primaryColor);
  font-weight: var(--w-btn);
  font-size: var(--s-btn);
  padding: var(--p-btn);
  border-radius: 15px;
  letter-spacing: 1px;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}
#home .testimoni .cta a:hover {
  color: var(--primaryColor);
  background: var(--bg-btnPrimaryHover);
  transition: all 0.3s ease-in-out;
}

#about .about .visi-wrapper {
  padding-block: 90px 120px;
}
#about .about .visi-wrapper .container {
  margin-bottom: 70px;
}
#about .about .visi-wrapper .container .row .image-wrapper img {
  width: auto;
  max-width: 360px;
  border-radius: 20px;
  box-shadow: 0 1px 15px #000;
}
#about .about .visi-wrapper .container .row .text-wrapper h2 {
  font-size: 40px;
  font-weight: var(--w-heading);
}
#about .about .visi-wrapper .container .row .text-wrapper p {
  font-weight: 400;
  font-size: 24px;
  line-height: 30.5px;
}
#about .about .nilai-wrapper {
  padding-block: 140px 90px;
}
#about .about .nilai-wrapper .container .text-wrapper h1 {
  font-size: var(--s-heading);
  text-align: center;
  color: var(--primaryColor);
  font-weight: var(--w-heading);
  margin-bottom: 50px;
}
#about .about .nilai-wrapper .container .text-wrapper ul {
  margin: 0 !important;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: center;
  list-style: none;
}
#about .about .nilai-wrapper .container .text-wrapper ul li {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
}
#about .about .nilai-wrapper .container .text-wrapper ul li span {
  color: var(--primaryColor);
  font-weight: 700;
  font-size: 24px;
}

#layanan .layanan {
  padding-block: 90px;
}
#layanan .layanan .container .container-menu {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 30px;
}
#layanan .layanan .container .container-menu .box-menu {
  background: var(--bg-secondaryColor);
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 0 24px rgba(0, 0, 0, 0.2509803922);
}
#layanan .layanan .container .container-menu .box-menu .image-wrapper {
  height: 346px;
  overflow: hidden;
  position: relative;
}
#layanan .layanan .container .container-menu .box-menu .image-wrapper img {
  position: absolute;
  max-width: 100%;
  height: auto;
  top: -50px;
  left: 0;
  transition: all 0.3s ease-in-out;
}
#layanan .layanan .container .container-menu .box-menu .image-wrapper img:hover {
  transform: scale(1.15);
  transition: all 0.3s ease-in-out;
}
#layanan .layanan .container .container-menu .box-menu .text-wrapper {
  padding: 20px 20px 33px 20px;
}
#layanan .layanan .container .container-menu .box-menu .text-wrapper .text_head-wrapper {
  margin-bottom: 7px;
}
#layanan .layanan .container .container-menu .box-menu .text-wrapper .text_head-wrapper h3 {
  font-weight: 700;
  font-size: 22px;
}
#layanan .layanan .container .container-menu .box-menu .text-wrapper .text_head-wrapper p {
  padding: 10px;
  border-radius: 10px;
  background-color: #fff4e5;
  color: #ff9a16;
  font-weight: 700;
  font-size: 14px;
}
#layanan .layanan .container .container-menu .box-menu .text-wrapper .text_menu-wrapper {
  margin-bottom: 20px;
}
#layanan .layanan .container .container-menu .box-menu .text-wrapper .text_menu-wrapper p {
  font-weight: 400;
  font-size: 18px;
  text-align: justify;
  color: #a0a0a0;
}
#layanan .layanan .container .container-menu .box-menu .text-wrapper .cta-wrapper a {
  padding: 13px 10px;
  background-color: #65bd06;
  border-radius: 10px;
  font-weight: 700;
  font-size: 14px;
  text-decoration: none;
  color: #fff;
}

#galery .galery {
  padding-block: 90px;
}
#galery .galery .container .image-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}
#galery .galery .container .image-wrapper .image-box {
  height: 562px;
  overflow: hidden;
  position: relative;
}
#galery .galery .container .image-wrapper .image-box img {
  position: absolute;
  width: auto;
  height: 100%;
  top: 0;
  left: 0;
  transition: all 0.3s ease-in-out;
  filter: brightness(0.5);
}
#galery .galery .container .image-wrapper .image-box img:hover {
  transform: scale(1.15);
  transition: all 0.3s ease-in-out;
}
#galery .galery .container .image-wrapper .image-box p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--primaryColor);
  font-weight: 700;
  font-size: var(--s-subheading);
  line-height: 27.4px;
  letter-spacing: 1px;
  text-align: center;
  width: 70%;
}/*# sourceMappingURL=main.css.map */